
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(222, 222, 222);
    
}

 

.post{
    margin: auto;
    width: 50%;
    background-color: white;
    width: 400px;
    
}

img{
    margin: 10px 0px;
    
    max-width: 400px;
   
}

.name, .title{
    margin: 0px
}

.bookmark{
    margin-left: 60%;
}


.name-title{
    margin-top: 20px;
    margin-left: 5px;
}

.settings{
    margin: 7% 10% 1px 70%;
}

.post-header{
    
    display: flex;
}

.post-icons{
    margin: 10px;
    display: flex;
}

.comment{
    margin-left: 10px;
    margin-right: 10px;
}

.html5{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 10px;
}

.post-body{
    padding: 10px;
}

.title{
    font-weight: 900;
}